<div class="page-header">
  <h1>Neighborhood #<%= @neighborhood.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @neighborhood.name %></dd>

  <dt>City</dt>
  <dd><%= @neighborhood.city %></dd>

  <% venues= Venue.where({ neighborhood_id => @neighborhood_id})
  <dt>Venues in this area</dt>



</dl>

 <% favorites = Favorite.where({ :user_id => 1 }) %>
# <dl class="dl-horizontal">
#   <dt>Your favorites!</dt>
#   <% favorites.each do |favorite| %>
#   <dd>
#   <%= Dish.find_by({ :id => favorite.dish_id }).name %>
#   at
#   <%= Venue.find_by({ :id => favorite.venue_id }).name %>
#   </dd>
#   <% end %>
# </dl>
